<link rel="stylesheet" href="/static/style.css">
<h2>Edit Product</h2>
<form action="/edit" method="post">
<input type="text" name="name" value="{{ product1_name }}">
<input type="number" name="price" value="{{ product1_price }}">
<button type="submit">Save</button>
</form>
<a href="/">Back</a>