<link rel="stylesheet" href="/static/style.css">
<h2>Edit Product</h2>
<form action="/edit" method="post">
<input type="text" name="name" placeholder="Product name">
<input type="number" name="price" placeholder="Price">
<button type="submit">Save</button>
</form>
<a href="index.html">Back</a>