<!DOCTYPE html>
<html>
<head>
    <title>Testing Missing Flask Variables</title>
</head>
<body>
    <h1> {{ username }}</h1>

    <p>{{ age }}</p>

    <p>{{ userEmail }}</p>

    <ul>
        {% for item in items %}
            {% set x = 10 %}
        {% endfor %}
    </ul>

    <p> {{ x }} </p>

</body>
</html>