<!DOCTYPE html>
<html>
<head>
    <title>Testing Missing Flask Variables</title>
</head>
<body>
    <h1> {{ username }}</h1>
    <p>{{ age }}</p>
    <p>{{ userEmail }}</p>
    <ul>
        {% for item in items %}
            {% set x = 10 %}
        {% endfor %}
    </ul>
    <p> {{ x }} </p>
    {{ bye() }}
    {% set str = "hello" - 2 %}
    {% set y = 0 %}
    {% set b = 10 / y %}
    {% set n = 10 / 0 %}
</body>
</html>