<h1>{{ email }}</h1>
{{ unknown_variable }}
{{ a_b }}


{{ score == ct }}
{{ is_student == name }}


{{ is_student > is_student }}
{{ name == name }}

{% set items = ["apple", "banana", "orange"] %}

{% for item in items %}
    {% set number = 5 %}
  {% endfor %}

{{ number }}